.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.postcard {
  width: 200px;
  color: '#fff';
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 2px 0 5px 0 rgba(0,0,0,.75);
}

.container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
 
img {
  width: 480px;
  border-radius: 4px;
  box-shadow: 2px 0 5px 0 rgba(0,0,0,.75);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
